body, h1, h2, h3, h4, h5, h6, a, ol, ul, li, p {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

body {
	color: #454545;
	background-color: #dfdcc9;
	font-size: 14px;
	line-height: 22px;
	font-family: 'PT Serif', Arial;
}

@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif'), local('PTSerif-Regular'), url('fonts/ptserif.woff2') format('woff2'), url('fonts/ptserif.woff') format('woff'), url('fonts/ptserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url('fonts/ptserifitalic.woff2') format('woff2'), url('fonts/ptserifitalic.woff') format('woff'), url('fonts/ptserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url('fonts/ptserifbold.woff2') format('woff2'), url('fonts/ptserifbold.woff') format('woff'), url('fonts/ptserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url('fonts/ptserifbolditalic.woff2') format('woff2'), url('fonts/ptserifbolditalic.woff') format('woff'), url('fonts/ptserifbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}


.header {
	position: relative;
	background-color: #f9f8f4;
}

.header-inner {
	display: flex;
	position: relative;
	width: 960px;
	margin: 0 auto;
	align-items: center;
} 

.header-logo {
	margin-right: auto;
}


.header-logo__link {
}

.header-logo__image {
}

.header-right {
	margin-left: auto;
}

.header-menu {
}

.header-menu__list {
	display: flex;
}


.header-menu__item {
	list-style: none;
	text-align: center;
	border-left: 1px solid #e9e9e8;
	vertical-align: middle;
}

.header-menu__item:last-child {
	border-right: 1px solid #e9e9e8;
}


.header-menu__link {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 30px 15px;
	color: #303030;
	height: 80px;
	box-sizing: border-box;
}

.header-menu__link_active {
	color: white;
	background-color: #0d83dd;
	box-shadow: inset 0 -5px 0 0 #0a65ab; 
} 

.header-menu__link_active::after {
	content: "";
	position: absolute;
	top: 80px;
	right: 50%;
	margin-right: -7px;
	border: 7px solid transparent;	
	border-top: 7px solid #0a65ab;
} 


.content-block {
	margin-top: 40px;
}


.content-block-inner {
	display: flex;
	position: relative;
	width: 960px;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between;
} 

.content-block-left {
	flex-grow: 1;
}

.content-block-right {
	width: 220px;
	flex-grow: 0;
	margin-left: 40px;
	flex-shrink: 0;

}

.search {
	position: relative;
	margin-bottom: 40px;
}

.search__input {
	width: 100%;
	height: 40px;
	border: none;
	font-size: 15px;
}

.search__button {
 	position: absolute;
 	top: 10px;
 	right: 20px;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 0;
    background-color: white;
}

.search__input::placeholder {
	color: #999999;
	padding-left: 20px;
	font-style: italic;
	padding-right: 40px;
	font-family: 'PT Serif';
}

.book {
	background-color: white;
	display: flex;
	margin-bottom: 40px;
}

.book-left {
	margin: 20px;

}

.book__title {
	font-size: 25px;
	padding-bottom: 15px;
	color: #151515;
}


.book-description p {
	padding-bottom: 10px;
}


.book-description a {
	color: #0d83dd;
	text-decoration: none;
	border-bottom: 1px solid #cfe6f8;
}

.book-description b {
	color: #151515;
}


.book-right {
	margin: 20px;
	margin-left: 0;
	flex-basis: 180px;
	flex-shrink: 0;
}


.book-right__image {
	background-image: url("../img/book-img.png");
	background-repeat: no-repeat;
	background-position: 100%;
	width: 100%;
	height: 255px;
	margin-bottom: 20px;
}

.book-right__rating {
	font-size: 40px;
	line-height: 30px;
	font-weight: bold;
	color: #151515;
	text-align: center; 
	margin-bottom: 10px;
}


.book-right__votes {
	font-size: 12px;
	line-height: 22px;
	color: #aaaaaa;
	text-align: center;
	margin-bottom: 10px;
}


.book-remark {
	border: 1px solid #e9e9e8;
	color: #777777;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 2px;
	padding: 10px 0;
}


.book-remark__link {
	color: #454545;
	border-bottom: 1px solid #e9e9e8;
}


.book-number {
	margin-bottom: 20px;
	color: #777777;
	font-size: 12px;
	margin: 0 32px;
	margin-bottom: 20px;
}


.book-counters {
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
}

.book-counters__item {
	display: flex;
	border: 1px solid #e9e9e8;
	margin-right: 8px; 
	align-items: center;
}

.book-counters__item:last-child {
	margin-right: 0px; 
}

.book-counters__icon {
	background-repeat: no-repeat;
	background-position: 5px 50%;
	width: 20px;
	height: 28px;
}

.book-counters__icon_comments {
	background-image: url("../img/сomments-icon.png");
}

.book-counters__icon_review {
	background-image: url("../img/reviews-icon.png");
}


.book-counters__text {
	padding: 0 5px;
	vertical-align: middle;
}



.book__button-buy {
	background-color: #0d83dd;
	box-shadow: 0 -2px #074778 inset;
	border: none;
	width: 116px;
	line-height: 30px;
	color: white;
	border-radius: 2px;
	cursor: pointer;
	margin: 0 32px;
}


.tabs {
}

.tabs-tab {
	position: relative;
	display: inline-block;
	margin-right: -3px;
	background-color: #f8f8f4;
	padding: 0 20px;
	cursor: pointer;
}

.tabs-tab__icon {
}

.tabs-tab__icon_сomments {
	display: inline-block;
	background-image: url("../img/сomments-icon-tab.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	height: 40px;
	width: 15px;
	vertical-align: middle;
}


.tabs-tab__icon_reviews {
	display: inline-block;
	background-image: url("../img/reviews-icon-tab.png");
	background-repeat: no-repeat;
	background-position: 0 50%;
	height: 40px;
	width: 15px;
	vertical-align: middle;
}

.tabs-tab__icon_reviews_active {
	background-image: url("../img/reviews-icon-tab-active.png");
	}

.tabs-tab__text {
	display: inline-block;
	vertical-align: middle;
}

.tabs-tab__number {
	display: inline-block;
	color: #999999;
	font-size: 12px;
	vertical-align: middle;
}

.tabs-tab-number_active {
	color: white;
}

.tabs-tab_active {
	background-color: #0d83dd;
	color: white;
	box-shadow: inset 0 -5px 0 0 #0a65ab; 
}

.tabs-tab_active:after {
	content: "";
	position: absolute;
	top: 40px;
	right: 50%;
	margin-right: -7px; 
	border: 7px solid transparent;	
	border-top: 7px solid #0a65ab;
}

.comments-block {
	background-color: #ffffff;
}

.comment {
	padding: 32px 20px;
	background-color: #ffffff;
	border-top: 1px solid #e9e9e8;
}

.comment:first-child {
	border-top: none;
}

.comment__link{
	color: #0d83dd;
	text-decoration: none;
	border-bottom: 1px dashed #cfe6f8;
}

.comment-info {
	display: flex;
	margin-bottom: 22px;
}

.comment-info-left {
	display: flex;
}

.comment-info__user-icon {
	margin-right: 8px;
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	border-radius: 15px;
}
.comment-info__user-icon_1 {
	background-image: url("../img/user-icon-1.png");
}

.comment-info__user-icon_2 {
	background-image: url("../img/user-icon-2.png");
}

.comment-info__user-icon_3 {
	background-image: url("../img/user-icon-3.png");
}

.comment-info-user-name {
	align-self: center;
}

.comment-info-user-name__link {
	color: #0d83dd;
	text-decoration: none;
	border-bottom: 1px solid #cfe6f8;
}

.comment-info__date {
	color: #999999;
	font-size: 12px;
	padding-left: 15px;
	align-self: center;
}

.comment__text {
	width: 100%;
}


.comment-info-right {
	display: flex;
	margin-left: auto;
}

.comment-info-right__number {
	color: #999999;
	margin-right: 8px;
	align-self: center;
}

.comment-info-right__number_blue {
	color: #0d83dd;
}


.comment-info-right__arrow {
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 24px;
	width: 24px;
	margin-right: 8px;
	align-self: center;
	cursor: pointer;
}

.comment-info-right__arrow_up {
	background-image: url("../img/arrow-up-icon.png");
	margin-right: 8px;
}


.comment-info-right__arrow_up_active {
	background-image: url("../img/arrow-up-icon-active.png");
}


.comment-info-right__arrow_down {
	background-image: url("../img/arrow-down-icon.png");
	margin-right: 20px;
}


.comment-info-right__arrow_down_active {
	background-image: url("../img/arrow-down-icon-active.png");
}


.comment-info-right__rating-icon {
	background-image: url("../img/star-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 14px;
	width: 16px;
	align-self: center;
	margin-right: 8px; 
}


.comment-info-right__rating-number {
	color: #151515;
	line-height: 16px;
	align-self: center;
}

.comment-info-right .rating-number span{
	color: #999999;
}

.comments-block-show-more {
	text-transform: uppercase;
	background-color: #eceadf;
	padding: 10px 0;
	text-align: center;
}

.comments-block-show-more_link {
	border-bottom: 1px dashed #d5d3ca;
	color: #666666;
	text-decoration: none;
}


.form-authorization {
	background-color: white;
	padding: 20px;
	border-bottom: 1px solid #dadada;
}


.form-authorization__title {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: bold;
}


.form-authorization-fields { 
}

.form-authorization-fields__field {
	width: 100%;
	margin-bottom: 20px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid #dadada;
	border-radius: 2px;
	box-shadow: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

.form-authorization-field__field_login {
	background-image: url("../img/login-icon.png");   
}


.form-authorization-field__field_password {
	background-image: url("../img/password-icon.png");   
}


.form-authorization-fields__field::placeholder {
	color: #999999;
	padding-left: 30px;
	font-style: italic;
	font-family: 'PT Serif';
}


.form-authorization-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.form-authorization-block_link {
	text-decoration: none;
	color: #151515;
	border-bottom: 1px solid #a1a1a1;
	font-size: 13px;
}


.form-authorization-block__input {
	color: white;
	background-color: #0d83dd;
	border: none;
	line-height: 30px;
	width: 70px;
	box-shadow: 0 -2px #074778 inset;
	border-radius: 2px;
	cursor: pointer;
}


.enter-social-networks {
	display: block;
	height: 10px;
	background-color: white;
	padding: 15px 20px 45px 20px;
	font-size: 13px;
	line-height: 20px;
	color: #454545;
	border-bottom: 1px solid #dadada;
}

.enter-social-networks__icons {
	padding-bottom: 15px;
}

.enter-social-networks__link{
	display: inline-block;
	background-image: url("../img/social-network-icon.png");   
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
 
.enter-social-networks__link_vk {
    background-position: 0px 0px;
}

.enter-social-networks__link_fb {
    background-position: -21px 0px;
}

.enter-social-networks__link_tw {
    background-position: -42px 0px;
}

.enter-social-networks__link_gl {
    background-position: -63px 0px;
}

.enter-social-networks__link_ok {
    background-position: -84px 0px;
}

.enter-social-networks__link_more {
    background-position: -105px 0px;
}


.registration-button {
	background-color: white;
	padding: 20px;
}


.registration-button_input {
	background-color: #0d83dd;
	box-shadow: 0 -2px #074778 inset;
	border: none;
	width: 100%;
	line-height: 30px;
	color: white;
	border-radius: 2px;
	cursor: pointer;
}


.footer {
	position: relative;
	background-color: #ffffff;
	color: #777777;
	top: 45px;
	padding: 20px 0;
}

.footer-inner {
	display: flex;
	position: relative;
	width: 960px;
	margin: 0 auto;
	align-items: center;
} 


.clear {
	clear: both;
	height: 1px;
	margin-bottom: -1px;
}


.footer-left {	
	margin-right: auto;
}

.footer-left__сopyright {
}


.footer-right {
	margin-left: auto;
}


.footer-right__link {
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
} 


.footer-right__image {
	display: block;
}