body, h1, h2, h3, h4, h5, h6, a, ol, ul, li, p {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

body {
	color: #454545;
	background-color: #dfdcc9;
	font-size: 14px;
	line-height: 22px;
	font-family: 'PT Serif', Arial;
}

@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif'), local('PTSerif-Regular'), url('fonts/ptserif.woff2') format('woff2'), url('fonts/ptserif.woff') format('woff'), url('fonts/ptserif.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Italic'), local('PTSerif-Italic'), url('fonts/ptserifitalic.woff2') format('woff2'), url('fonts/ptserifitalic.woff') format('woff'), url('fonts/ptserifitalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold'), local('PTSerif-Bold'), url('fonts/ptserifbold.woff2') format('woff2'), url('fonts/ptserifbold.woff') format('woff'), url('fonts/ptserifbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'PT Serif';
    src: local('PT Serif Bold Italic'), local('PTSerif-BoldItalic'), url('fonts/ptserifbolditalic.woff2') format('woff2'), url('fonts/ptserifbolditalic.woff') format('woff'), url('fonts/ptserifbolditalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

h1 {
	font-weight: normal;
	margin-bottom: 20px;
}


.inner {
	display: flex;
	position: relative;
	min-width: 960px;
	max-width: 1280px;
	margin: 0 auto;
	align-items: center;
	padding: 0 20px;
}

.header {
	position: relative;
	background-color: #f9f8f4;
}


.header-logo {
	margin-right: auto;
}


.header-logo__link {
}

.header-logo__image {
}

.header-right {
	margin-left: auto;
}

.header-menu {
}

.header-menu__list {
	display: flex;
}


.header-menu__item {
	list-style: none;
	text-align: center;
	border-left: 1px solid #e9e9e8;
	vertical-align: middle;
}

.header-menu__item:last-child {
	border-right: 1px solid #e9e9e8;
}


.header-menu__link {
	display: block;
	position: relative;
	text-decoration: none;
	padding: 30px 15px;
	color: #303030;
	height: 80px;
	box-sizing: border-box;
}

.header-menu__link_active {
	color: white;
	background-color: #0d83dd;
	box-shadow: inset 0 -5px 0 0 #0a65ab; 
} 

.header-menu__link_active::after {
	content: "";
	position: absolute;
	top: 80px;
	right: 50%;
	margin-right: -7px;
	border: 7px solid transparent;	
	border-top: 7px solid #0a65ab;
} 


.container {
	margin-top: 40px;
}


.inner_container {
	justify-content: space-between;
	align-items: flex-start;
} 

.container-left {
	flex-grow: 1;
}

.container-right {
	width: 220px;
	flex-grow: 0;
	margin-left: 40px;
	flex-shrink: 0;

}

.show-more {
	text-transform: uppercase;
	background-color: #eceadf;
	text-align: center;
	cursor: pointer;
	padding: 10px 0;
}


.show-more__text {
	color: #666666;
	border-bottom: 1px dashed #d5d3ca;
}


.button {
	background-color: #0d83dd;
	box-shadow: 0 -2px #074778 inset;
	border: none;
	line-height: 30px;
	color: white;
	border-radius: 2px;
	cursor: pointer;
}


.button_registration {
	width: 100%;
}

.button_buy-book {
	padding: 0 16px;
}


.button_filter {
	width: 100%;
	line-height: 20px;
	color: white;
	font-size: 11px;
	flex-basis: 100px;
	flex-shrink: 0;
}


.button_enter {
	padding: 0 15px;
}

.search {
	position: relative;
	margin-bottom: 40px;
}

.search__input {
	width: 100%;
	height: 40px;
	border: none;
	font-size: 15px;
	padding-left: 20px;
}

.search__button {
 	position: absolute;
 	top: 10px;
 	right: 20px;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url("../img/search-icon.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    font-size: 0;
    background-color: white;
}

.search__input::placeholder {
	color: #999999;
	font-style: italic;
	font-family: 'PT Serif';
}

.filter {
	margin-top: -35px;
}

.filter__title {
	color: #999999;
	font-size: 34px;
	font-style: italic;
	margin-bottom: 30px;
}

.filter-block {
	padding: 20px 20px;
	background-color: white;
	border-bottom: 1px solid #eceadf;
}

.filter-block:last-child {
	border-bottom: none;
}

.filter-block_include {
}

.filter-block_exclude {
	background-color: #f9f9f5;
}


.filter-columns {
	position: relative;
	display: flex;
	flex-shrink: 0;
}

.filter-section {
	width: 50%;
	margin-right: 50px;
}


.filter-section_caption {
	color: #151515;
	font-size: 20px;
	margin-right: 8px;
}

.filter-section:last-child {
	margin-right: 0;
}

.filter-section-options {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}


.filter-section-variants {
	
}

.filter-section-variants__link {
	display: inline-block;
	text-decoration: none;
	margin-right: 15px;
	color: #454545;
	white-space: nowrap;
	
}

.filter-section-variants__link:hover .filter-section-variants__icon {
	background-image:  url("../img/cross-red-icon.png");
}

.filter-section-variants__link:hover .filter-section-variants__text {
	color: #000000;
	border-bottom: 1px solid #959593;
}

.filter-section-variants__text {
	border-bottom: 1px solid #b5b5b5;
	line-height: 16px;
	margin-right: 5px;
}


.filter-section-variants__icon {
	display: inline-block;
	background-image:  url("../img/cross-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 5px;
	height: 5px;
}


.filter-block_flex {
	display: flex;
	align-items: center;
}


.filter-search {
	position: relative;
	text-decoration: none;
	margin: 0;
	padding: 0;
	margin-right: 32px;
}

.filter-search__icon {
	position: absolute;
	background-image:  url("../img/search-big.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 31px;
	height: 31px;
}

.filter-search__text {
	padding-left: 52px;
	color: #95a8a6;
	font-size: 40px;
}

.filter-checkbox {
	display: flex;
}


.filter-checkbox__input {
	margin-right: 5px;
	outline: none;
	-webkit-appearance:none;
	width: 14px;
	height: 14px;
	border:1px solid #95a8a6;
	box-sizing: border-box;
	border-radius: 4px;
}

.filter-checkbox__input:checked:before {
	content:"";
	display:block;
	width: 6px;
	height: 9px;
	border: 0 solid black;
	border-width:0 2px 2px 0;
	-webkit-transform:rotateZ(45deg);
	margin: -2px 2px;
}


.filter-checkbox__label {
	color: #95a8a6;
	border-bottom: 1px dashed #d5dcdb;
	line-height: 20px;
	text-decoration: none;
}

.filter-checkbox__mark {
	cursor: pointer;
	margin-top: -5px;
	height: 18px;
	width: 18px;
	border-radius: 10px;
	border: 1px solid #d5dcdb;
	margin-left: 5px;
	font-size: 10px;
	text-align: center;
	line-height: 16px;
	box-sizing: border-box;
	color: #95a8a6;
}


.filter-block__close {
	margin-left: auto;
	color: #95a8a6;
	font-size: 20px;
	text-decoration: none;
	border-bottom: 1px dashed #d5dcdb;
	line-height: 20px;
}


.main-title {
	position: relative;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 40px;
}

.main-title__text {
	position: relative;
	display: inline-block;
	padding: 0 20px;
	font-size: 28px;
	line-height: 30px;
	background-color: #dfdcc9;
}


.main-title__line {
	overflow: hidden;
	position: absolute;
	height: 1px;
	left: 0;
	right: 0;
	background-color: #bcb9a8;
	top: 50%;
}


.main-news {
	position: relative;
	display: flex;
	margin-bottom: 40px;
	margin-left: -40px;
}


.main-news__item {
	position: relative;
	width: 33.33%;
	background-color: white;
	box-sizing: border-box;
	margin-left: 40px;
	border-radius: 2px;
}


.main-news__item:before {
	content: "";
	position: absolute;
	height: 62px;
	width: 100%;
	background: linear-gradient(to bottom, transparent, transparent, white, white);
	bottom: 0px;
}


.main-news__text {
	padding: 20px;
}


.main-news__image {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 160px;
}


.main-news__date {
	color: #777777;
	font-size: 12px;
	line-height: 15px;
}


.main-news__title {
	margin-bottom: 20px;
}


.main-news__link {
	color: #151515;
	font-size: 18px;
	border-bottom: 1px solid #b5b5b5;
	text-decoration: none;
	line-height: 22px;
}


.main-news__description {
}


.main-novelties {
	display: flex;
	margin-left: -40px;
	flex-wrap: wrap;
}


.main-novelties__item {
	display: flex;
	width: calc(50% - 40px);
	margin-left: 40px;
	background: white;
	margin-bottom: 40px;
	height: 330px;
	border-radius: 2px;
}


.main-novelties__image {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 40%;
	flex-shrink: 0;
}


.main-novelties__text {
	width: 60%;
	padding: 24px 20px;
}


.main-novelties__title {
	margin-bottom: 10px;
}


.main-novelties__link {
	color: #151515;
	font-size: 22px;
	border-bottom: 1px solid #a1a1a1;
	text-decoration: none;
	line-height: 22px;
}


.main-novelties__description {
	margin-bottom: 15px;
}

.main-novelties__description a {
	text-decoration: none;
	color: #151515;
	border-bottom: 1px solid #a1a1a1;
}

.main-novelties__description b {
	color: #151515;
}


.main-novelties-raiting {
	margin-bottom: 15px;
}

.raiting-stars {
}

.raiting-stars_inline {
	display: inline-block;
	vertical-align: middle;
}

.raiting-stars__icon {
	display: inline-block;
	background-image: url("../img/star-grey.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 14px;
	height: 14px;
	margin-right: 2px;
}

.raiting-stars__icon_active {
	background-image: url("../img/star-blue.png");
}

.main-novelties__reviews {
	font-size: 11px;
}


.last-bibliography {
	display: flex;
	margin-left: -40px;
	flex-wrap: wrap;
}


.last-bibliography__item {
	display: flex;
	width: calc(50% - 40px);
	margin-left: 40px;
	background: white;
	margin-bottom: 40px;
	height: 150px;
	border-radius: 2px;
}


.last-bibliography__image {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 30%;
	flex-shrink: 0;
}


.last-bibliography__image_1 {
	background-image: url("../img/last-bibliography-1.png");
}


.last-bibliography__image_2 {
	background-image: url("../img/last-bibliography-2.png");
}


.last-bibliography__image_3 {
	background-image: url("../img/last-bibliography-3.png");
}


.last-bibliography__image_4 {
	background-image: url("../img/last-bibliography-4.png");
}


.last-bibliography__text {
	width: 70%;
	padding: 24px 20px;
}


.last-bibliography__title {
	margin-bottom: 10px;
}


.last-bibliography__link {
	color: #151515;
	font-size: 22px;
	border-bottom: 1px solid #a1a1a1;
	text-decoration: none;
	line-height: 22px;
}


.last-bibliography__description {
}


.last-bibliography__description a {
	text-decoration: none;
	color: #454545;
	border-bottom: 1px solid #a1a1a1;
}


.last-bibliography__description b {
	color: #151515;
}


.author {
	background-color: white;
	margin-bottom: 40px;
	padding: 20px;
}


.author__title {

}


.author__text p {
	margin-bottom: 15px;
}


.author__text p:last-child {
	margin-bottom: 0px;
}


.author__image {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}


.bibliography {

}


.bibliography__list {
	list-style: none;
}


.bibliography__row {
	display: block;
	background-color: white;
}


.bibliography__item {
	display: flex;
	position: relative;
	padding: 12px 20px;
	border-bottom: 1px solid #e9e9e8;
	align-items: center;
}


.bibliography__text {
	margin-right: auto;
	padding-left: 32px;
}

.bibliography__link {
	text-decoration: none; 
}

.bibliography__link_black {
	color: #454545;
	border-bottom: 1px solid #dadad9;
}

.bibliography__link_blue {
	color: #0d83dd;
	border-bottom: 1px solid #d0e5f5;
}


.bibliography__link_grey {
	color: #999999;
	border-bottom: 1px solid #dadad9;
	font-size: 11px;
}


.bibliography__year {
	font-size: 12px;
	color: #999999;
}

.bibliography__remark {
	color: #999999;
}

.bibliography__icon {
	position: absolute;
	background-position: 0 0;
	height: 25px;
	width: 25px;
	background-repeat: no-repeat;
}


.bibliography__icon_1 {
	background-image: url("../img/icon-1.png");
}


.bibliography__icon_2 {
	background-image: url("../img/icon-2.png");
}

.bibliography__icon_3 {
	background-image: url("../img/icon-3.png");
}


.bibliography__icon_4 {
	background-image: url("../img/icon-4.png");
}


.bibliography__icon_5 {
	background-image: url("../img/icon-5.png");
}


.bibliography__icon_6 {
	background-image: url("../img/icon-6.png");
}


.bibliography__item:hover {
	background-color: #f6f6f5;
}


.bibliography__row .bibliography__row .bibliography__item {
	padding-left: 54px;
}


.bibliography__row .bibliography__row .bibliography__row .bibliography__item {
	padding-left: 90px;
}


.bibliography__properties {
	margin-left: auto;
	display: flex;
	align-items: center;
}


.bibliography__raiting {
	margin-right: 2px;
}


.bibliography__number {
	font-size: 11px;
	color: #999999;
}


.bibliography__my-mark {
	display: flex;
	border: 1px solid #cce7c8;
	align-items: center;
	padding: 8px;
	border-radius: 2px;
	margin-right: 6px;
}


.bibliography__chek-icon {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url("../img/check-icon.png");
	width: 13px;
	height: 9px;
	margin-right: 6px;
}


.bibliography__mark {
	line-height: 14px;
}


.bibliography__icon-book {
	display: inline-block;
	background-image: url("../img/book-icon-grey.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 16px;
	width: 20px;
	margin: 6px;
}

.bibliography__icon-book_read {
	background-image: url("../img/book-icon-blue.png");
}


.book {
	background-color: white;
	display: flex;
	margin-bottom: 40px;
	flex-shrink: 0;
}

.book-left {
	margin: 20px;

}

.book__title {
	font-size: 25px;
	padding-bottom: 15px;
	color: #151515;
}


.book-description p {
	padding-bottom: 10px;
}


.book-description a {
	color: #0d83dd;
	text-decoration: none;
	border-bottom: 1px solid #cfe6f8;
}

.book-description b {
	color: #151515;
}


.book-right {
	margin: 20px;
	margin-left: 0;
	flex-basis: 180px;
	flex-shrink: 0;
}


.book-right__image {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	height: 255px;
	margin-bottom: 20px;
}

.book-right__rating {
	font-size: 40px;
	line-height: 30px;
	font-weight: bold;
	color: #151515;
	text-align: center; 
	margin-bottom: 10px;
}


.book-right__votes {
	font-size: 12px;
	line-height: 22px;
	color: #aaaaaa;
	text-align: center;
	margin-bottom: 10px;
}


.book-remark {
	border: 1px solid #e9e9e8;
	color: #777777;
	font-size: 12px;
	line-height: 16px;
	text-align: center;
	margin-bottom: 10px;
	border-radius: 2px;
	padding: 10px 0;
}


.book-remark__link {
	color: #454545;
	border-bottom: 1px solid #e9e9e8;
	text-decoration: none;
}


.book-number {
	margin-bottom: 20px;
	color: #777777;
	font-size: 12px;
	margin: 0 32px;
	margin-bottom: 20px;
}


.book-counters {
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
}

.book-counters__item {
	display: flex;
	border: 1px solid #e9e9e8;
	margin-right: 8px; 
	align-items: center;
}

.book-counters__item:last-child {
	margin-right: 0px; 
}

.book-counters__icon {
	background-repeat: no-repeat;
	background-position: 5px 50%;
	width: 20px;
	height: 28px;
}

.book-counters__icon_comments {
	background-image: url("../img/сomments-icon.png");
}

.book-counters__icon_review {
	background-image: url("../img/reviews-icon.png");
}


.book-counters__text {
	padding: 0 5px;
	vertical-align: middle;
}

.book__button {
	text-align: center;
}

.tabs {
	display: flex;
}

.tabs-tab {
	display: flex;
	position: relative;
	background-color: #f8f8f4;
	padding: 4px 20px 0px;
	cursor: pointer;
	align-items: baseline;
	height: 36px;
}

.tabs-tab__icon {
	background-repeat: no-repeat;
	background-position: 0 50%;
	width: 15px;
	margin-right: 5px;
	height: 20px;
	position: relative;
	top: 4px;
}

.tabs-tab__icon_сomments {
	background-image: url("../img/сomments-icon-tab.png");
}


.tabs-tab__icon_reviews {
	background-image: url("../img/reviews-icon-tab.png");
}

.tabs-tab__icon_reviews_active {
	background-image: url("../img/reviews-icon-tab-active.png");
	}

.tabs-tab__text {
	margin-right: 5px;
}

.tabs-tab__number {
	color: #999999;
	font-size: 12px;
}

.tabs-tab-number_active {
	color: white;
}

.tabs-tab_active {
	background-color: #0d83dd;
	color: white;
	box-shadow: inset 0 -5px 0 0 #0a65ab; 
}

.tabs-tab_active:after {
	content: "";
	position: absolute;
	top: 40px;
	right: 50%;
	margin-right: -7px; 
	border: 7px solid transparent;	
	border-top: 7px solid #0a65ab;
}

.comments-block {
	background-color: #ffffff;
}

.comment {
	padding: 32px 20px;
	background-color: #ffffff;
	border-top: 1px solid #e9e9e8;
}

.comment:first-child {
	border-top: none;
}

.comment__link{
	color: #0d83dd;
	text-decoration: none;
	border-bottom: 1px dashed #cfe6f8;
}

.comment-info {
	display: flex;
	margin-bottom: 22px;
}

.comment-info-left {
	display: flex;
	align-items: center;
}

.comment-info__user-icon {
	margin-right: 8px;
	height: 32px;
	width: 32px;
	background-repeat: no-repeat;
	border-radius: 15px;
}


.comment-info-user-name {
}

.comment-info-user-name__link {
	color: #0d83dd;
	text-decoration: none;
	border-bottom: 1px solid #cfe6f8;
}

.comment-info__date {
	color: #999999;
	font-size: 12px;
	padding-left: 15px;
}

.comment__text {
	width: 100%;
}


.comment-info-right {
	display: flex;
	margin-left: auto;
	align-items: center;
}

.comment-info__number {
	color: #999999;
	margin-right: 8px;
}

.comment-info__number_blue {
	color: #0d83dd;
}


.comment__arrow {
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 24px;
	width: 24px;
	margin-right: 8px;
	cursor: pointer;
}

.comment__arrow_up {
	background-image: url("../img/arrow-up-icon.png");
	margin-right: 8px;
}


.comment__arrow_up_active {
	background-image: url("../img/arrow-up-icon-active.png");
}


.comment__arrow_down {
	background-image: url("../img/arrow-down-icon.png");
	margin-right: 20px;
}


.comment__arrow_down_active {
	background-image: url("../img/arrow-down-icon-active.png");
}


.comment__rating-icon {
	background-image: url("../img/star-icon.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 14px;
	width: 16px;
	margin-right: 8px; 
}


.comment__rating-number {
	color: #151515;
	line-height: 16px;
	align-self: center;
}

.comment__rating-number_grey{
	color: #999999;
}

.container-right-block{
	margin-bottom: 40px;
	background-color: white;
}

.user-card {
	display: flex;
	border-bottom: 1px solid #dadada;
	background-color: #f9f8f4;
	padding: 20px;
	align-items: center;
}

.user-card__foto {
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	margin-right: 12px;
}


.user-card__name {
	color: #151515;
	font-size: 16px;
}

.user-card__first-name {
	font-weight: bold;
}

.user-card__second-name {

}

.user-menu {

}


.user-menu__list {

}

.user-menu__item {
	position: relative;
	list-style: none;
	vertical-align: middle;
	border-bottom: 1px solid #dadada;
}

.user-menu__item:last-child {
	border-bottom: none;
}

.user-menu__icon {
	position: absolute;
	left: 20px;
	top: calc(50% - 8px);
	background-repeat: no-repeat;
	background-position: 0px 0;
	height: 16px;
	width: 16px;
}

.user-menu__icon_messages {
	background-image: url("../img/messagers-icon.png");
}

.user-menu__icon_friends {
	background-image: url("../img/friends-icon.png");
}

.user-menu__icon_news {
	background-image: url("../img/news-icon.png");
}

.user-menu__icon_read {
	background-image: url("../img/read-icon.png");
}

.user-menu__icon_marks {
	background-image: url("../img/marks-icon.png");
}

.user-menu__icon_settings {
	background-image: url("../img/settings-icon.png");
}

.user-menu__icon_log-out {
	background-image: url("../img/log-out-icon.png");
}

.user-menu__link {
	display: block;
	text-decoration: none;
	color: #151515;
	padding: 10px 20px 10px 50px;
}

.user-menu__number {
	display: inline-block;
	height: 18px;
	width: 18px;
	border-radius: 10px;
	border: 1px solid #dadada;
	margin-left: 5px;
	font-size: 11px;
	text-align: center;
	line-height: 16px;
	box-sizing: border-box;
}


.form-authorization {
	padding: 20px;
	border-bottom: 1px solid #dadada;
}


.form-authorization__title {
	font-size: 16px;
	margin-bottom: 20px;
	font-weight: bold;
}


.form-authorization-fields { 
}

.form-authorization-fields__field {
	padding-left: 30px;
	width: 100%;
	margin-bottom: 20px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid #dadada;
	border-radius: 2px;
	box-shadow: none;
    background-repeat: no-repeat;
    background-position: 10px;
}

.form-authorization-field__field_login {
	background-image: url("../img/login-icon.png");
}


.form-authorization-field__field_password {
	background-image: url("../img/password-icon.png");   
}


.form-authorization-fields__field::placeholder {
	color: #999999;
	font-style: italic;
	font-family: 'PT Serif';
}


.form-authorization-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}


.form-authorization-block_link {
	text-decoration: none;
	color: #151515;
	border-bottom: 1px solid #a1a1a1;
	font-size: 13px;
	line-height: 16px;
}


.sign-in-social {
	display: block;
	height: 10px;
	padding: 15px 20px 45px 20px;
	font-size: 13px;
	line-height: 20px;
	color: #454545;
	border-bottom: 1px solid #dadada;
}

.sign-in-social__icons {
	padding-bottom: 15px;
}

.sign-in-social__link{
	display: inline-block;
	background-image: url("../img/social-network-icon.png");   
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
 
.sign-in-social__link_vk {
    background-position: 0px 0px;
}

.sign-in-social__link_fb {
    background-position: -21px 0px;
}

.sign-in-social__link_tw {
    background-position: -42px 0px;
}

.sign-in-social__link_gl {
    background-position: -63px 0px;
}

.sign-in-social__link_ok {
    background-position: -84px 0px;
}

.sign-in-social__link_more {
    background-position: -105px 0px;
}


.registration-button {
	padding: 20px;
}



.banner {
}


.banner__image {
	margin-bottom: 20px;
}


.banner__link {
}


.footer {
	position: relative;
	background-color: #ffffff;
	color: #777777;
	top: 45px;
	padding: 20px 0;
}


.footer-left {	
	margin-right: auto;
}

.footer-left__сopyright {
}


.footer-right {
	margin-left: auto;
}


.footer-right__link {
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
} 


.footer-right__image {
	display: block;
}